.chat-list {
  .chat-picture {
    border-radius: 50%;
    width: 50px;
  }

  .last-message-timestamp {
    position: absolute;
    top: 16px;
    right: 38px;
    font-size: 14px;
    color: #9A9898;
  }
}
