<ion-navbar *navbar>
  <ion-title>Chats</ion-title>

  <ion-buttons end>
    <button class="add-chat-button" (click)="addChat()"><ion-icon name="person-add"></ion-icon></button>
    <button class="options-button"><ion-icon name="more"></ion-icon></button>
  </ion-buttons>
</ion-navbar>

<ion-content padding class="chat-list">
  <ion-list>
    <ion-item-sliding *ngFor="let chat of chats.models" (click)="goToChatDetail(chat)">
      <button ion-item>
        <img class="chat-picture" [src]="chat.picture">
        <h2 class="chat-title">{{chat.title}}</h2>

        <span *ngIf="chat.messages.last">
          <p class="recent-message-contents">{{chat.messages.last.contents}}</p>
          <span class="last-message-timestamp">{{chat.messages.last.createdAt | amCalendar}}</span>
        </span>
      </button>

      <ion-item-options>
        <button danger class="remove-chat-button" (click)="removeChat(chat)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
