.settings-popover {
  $popover-width: 200px;
  $popover-margin: 5px;

  .popover-content {
    width: $popover-width;
    transform-origin: right top 0px !important;
    left: calc(100% - #{$popover-width} - #{$popover-margin}) !important;
    top: $popover-margin !important;
  }
}

.chat-list {
  .chat-picture {
    border-radius: 50%;
    width: 50px;
  }

  .last-message-timestamp {
    position: absolute;
    top: 16px;
    right: 38px;
    font-size: 14px;
    color: #9A9898;
  }
}
