.messages-page-navbar {
  .chat-picture {
    width: 50px;
    border-radius: 50%;
    float: left;
  }

  .chat-title {
    line-height: 50px;
    float: left;
  }
}

.messages-page-content {
  > scroll-content {
    padding: 0;
  }

  .messages {
    height: 100%;
  }

  .message-wrapper {
    margin-bottom: 9px;

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .message {
    display: inline-block;
    position: relative;
    max-width: 236px;
    border-radius: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);

    &.message-mine {
      float: right;
      background-color: rgb(100, 180, 255);

      .message-timestamp {
        color: rgb(15, 95, 170);
      }
    }

    &.message-other {
      float: left;
      background-color: rgb(230, 230, 230);

      .message-timestamp {
        color: grey;
      }
    }

    &.message-other::before, &.message-mine::before {
      content: "";
      position: absolute;
      bottom: 3px;
      width: 12px;
      height: 19px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .message-content {
      padding: 5px 7px;
      word-wrap: break-word;

      &::after {
        content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        display: inline;
      }
    }

    .message-timestamp {
      position: absolute;
      bottom: 2px;
      right: 7px;
      font-size: 12px;
    }
  }
}

.messages-page-footer {
  padding-right: 0;
  height: 50px;

  .message-input {
    margin-left: 2px;
    padding-left: 5px;
    background: white;
    border-radius: 3px;
  }

  .message-input-button {
    box-shadow: none;
    width: 50px;
    height: 50px;
    font-size: 17px;
    margin: auto;
  }
}