.chat-detail-navbar {
  .chat-picture {
    width: 50px;
    border-radius: 50%;
    float: left;
  }

  .chat-title {
    line-height: 50px;
    float: left;
  }
}

.chat-detail {

}

.chat-detail-message-box {
  .message-input {
    background: white;
    border-radius: 4px;
  }

  .message-input-button {
    box-shadow: none;
    width: 50px;
    color: black;
  }
}