.chat-detail-navbar {
  .chat-picture {
    width: 50px;
    border-radius: 50%;
    float: left;
  }

  .chat-title {
    line-height: 50px;
    float: left;
  }
}

.chat-detail {

}

.chat-detail-message-box {
  // .message-input {
  //   .searchbar-search-icon {
  //     background-image: url('/ionicons/dist/svg/ios-text.svg');
  //     opacity: 0.7;
  //   }
  // }

  $input-height: 30px;

  .message-input {
    text-align: center;
    background: white;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: $input-height;
    border-radius: 4px;
    float: left;

    .text-input {
      margin-top: 7px;
      padding-right: 50px;
    }
  }

  .send-button {
    box-shadow: none;
    float: right;
    text-align: center;
    height: $input-height;
    margin: 0;
    color: black;
    background-color: white;
    position: fixed;
    right: 20px;
  }
}