<ion-navbar *navbar class="chat-detail-navbar">
  <img class="chat-picture" [src]="currentChat.picture">
  <ion-title class="chat-title">{{currentChat.title}}</ion-title>

  <ion-buttons end>
    <button class="attach-button" (click)="attachFile()"><ion-icon name="attach"></ion-icon></button>
    <button class="options-button" (clickl)="showOptions()"><ion-icon name="more"></ion-icon></button>
  </ion-buttons>
</ion-navbar>

<ion-content padding class="chat-detail">
  <ion-scroll scrollY="true" class="messages-list">
    <div *ngFor="let message of messages.models" class="message-wrapper">
      <div [class]="'message message-' + message.ownership">
        <div class="message-contents">{{message.contents}}</div>
        <span class="message-timestamp">{{message.createdAt | amDateFormat: 'HH:MM'}}</span>
      </div>
    </div>
  </ion-scroll>
</ion-content>

<ion-toolbar class="chat-detail-message-box" position="bottom">
  <ion-input #messageInput [(ngModel)]="message" (keypress)="onInputKeypress($event, messageInput)" class="message-input" placeholder="Type a message"></ion-input>

  <ion-buttons end>
    <button *ngIf="message" class="message-input-button" (click)="sendMessage(messageInput)">
      <ion-icon name="send"></ion-icon>
    </button>

    <button *ngIf="!message" class="message-input-button" (click)="recordVoiceMessage()">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
