<ion-navbar *navbar>
  <ion-title>{{chat.title}}</ion-title>
</ion-navbar>

<ion-content padding class="chat-detail">
  <div class="messages-list">
    <div *ngFor="let message of chat.messages" class="message-wrapper">
      <div class="message-contents">{{message.contents}}</div>
      <span class="message-timestamp">{{message.timestamp | amDateFormat: 'HH:MM'}}</span>
    </div>
  </div>
</ion-content>

<ion-toolbar class="message-box" position="bottom">
  <ion-input [(ngModel)]="message" class="message-input" placeholder="Your message"></ion-input>

  <button *ngIf="message" class="send-button">Send</button>

  <span *ngIf="!message">
    <ion-icon name="camera"></ion-icon>
    <ion-icon name="mic"></ion-icon>
  </span>

  <!-- <button class="button button-clear button-icon button-positive icon ion-ios-upload-outline"></button>

  <label class="item-input-wrapper">
    <input [(ngModel)]="message"
           dir="auto"
           type="text"
           (return)="sendMessage(); closeKeyboard()"
           (focus)="inputUp()"
           (blur)="inputDown()"/>
  </label>

  <span *ngIf="message.length">
    <button (click)="sendMessage()" class="button button-clear button-positive">Send</button>
  </span>

  <span *ngIf="!message.length">
    <button (click)="sendPicture()" class="button button-clear button-icon button-positive icon ion-ios-camera-outline"></button>
    <i class="buttons-seperator icon ion-android-more-vertical"></i>
    <button class="button button-clear button-icon button-positive icon ion-ios-mic-outline"></button>
  </span> -->
</ion-toolbar>
